@font-face {
    font-family: "zuume-cut-regular";
    src: url(./FONT/zuume-cut-regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --branco: #fff;
    --preto: #000;
    --fundo-site: #f3f2f2;
    --vermelho: #A31621;
    --marsala: #661014;
}

.espacoLateral {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

/* ------------------------MENU------------------------------ */

header {
    height: 155px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 230px;
}

.menu {
    max-width: 700px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.menu a {
    font-size: 25px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "zuume-cut-regular", sans-serif;
}

.menu a:hover {
    color: #A31621;
}

/* ------------------MENU HAMBURGUER-------------------------------- */

#iconeBarras,
#iconeX,
#menuBotao {
    display: none;
}





/*---------------------- RESPONSIVIDADE------------------------- */

@media screen and (max-width: 768px) {
    #sombra {
        background-color: #eb3030dd;
        backdrop-filter: blur(10px);
        z-index: 1;
        position: fixed;
        width: 100vw;
        height: 100vw;
        right: -101vw;
        transition: .5s;
    }

    #menuBotao {
        display: block;
        z-index: 1;
    }

    header {
        position: relative;

    }

    header button {
        width: 50px;
        background-color: none;
        border: none;
        display: unset;
        cursor: pointer;
    }

    header svg {
        fill: #000;
    }

    #iconeBarras {
        display: block;
    }

    nav.menu {
        width: 200px;
        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;
        gap: 15px;

        position: fixed;
        top: 165px;
        right: 0 ;
        z-index: 1;
        transition: .5s;
    }

    .menu a {
        color: #000000d8;
    }
}