@font-face {
    font-family: "zuume-cut-regular";
    src: url("./FONT/zuume-cut-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: "zuume-cut-light";
    src: url("./FONT/zuume-cut-light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --vermelho: #DB222A;
    --marsala: #A31621;
    --preto: #000;
    --cinza: #798086;
    --branco: #F5F5F5;

}

.espacoLateral {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

/* -------- Menu ------- */
header {
    height: 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 195px;
}

.menu {
    max-width: 700px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.menu a {
    font-size: 25px;
    color: var(--preto);
    text-decoration: none;
    /* text-transform: uppercase; */
    font-family: "zuume-cut-regular";
}

.menu a:hover {
    color: var(--marsala);
}

/* -------- Menu Hamburguer ------- */
#iconeBarras,
#iconeX,
#menuBotao {
    display: none;
}




/* ---------- Reponsividade ---------------- */
@media screen and (max-width: 768px) {
    #sombra {
        background-color: var(--cinza);
        backdrop-filter: blur(45px);
        z-index: 1;
        position: fixed;
        width: 100vw;
        height: 100vh;
        right: -101vw;
        transition: .5s;
    }

    #menuBotao {
        display: block;
        z-index: 1;
    }

    header {
        position: relative;
    }

    header button {
        width: 50px;

        background: none;
        border: none;

        display: unset;
        cursor: pointer;
    }

    /* Cor do menu de hamburguer */

    header svg {
        fill: var(--preto);
    }

    #iconeBarras {
        display: block;
    }

    nav.menu {
        width: 200px;
        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;
        gap: 15px;

        position: fixed;
        top: 165px;
        right: -210px;
        z-index: 1;
        transition: .5s;
    }

    .menu a {
        color: var(--preto);
    }
}

.banner {
    background-image: url("./IMG/Banner.jpg");
    height: 75vh;
    background-size: cover;
    background-position: center -50px;
    /* FOCO EXATO DO PROTÓTIPO */
    background-repeat: no-repeat;
}

.icones {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 200px;
}

.icon {
    text-align: center;
}

.icon svg {
    color: var(--preto);
    width: 60px;
    transition: 0.5s;
}


.icon svg:hover {
    transform: translateY(-15px);
}

.icon p {
    font-family: "zuume-cut-regular";
    line-height: 25px;
    font-weight: 500;
    font-size: 20px;
}

#nossaHistoria {
    font-family: "zuume-cut-regular";
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
    flex-wrap: wrap;

}




#nossaHistoria p {
    display: flex;
    font-size: 32px;
    /* margin-top: 200px; */
}

#nossaHistoria h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;


}

.texto {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.descricao {
    width: 48%;
    max-width: 600px;

    margin-bottom: 100px;
}

.img_h {
    display: flex;
    justify-content: space-between;
    width: 48%;
    max-width: 900px;
}

.img01_h {
    width: 48%;
}

.img01_h img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.img02_h {
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px 20px;
}

.img02_h img {
    width: 100%;
    border-radius: 20px;
    /* box-shadow: 9 4px 8px 0 rgba(0, 0, 0, 0.2); */
}

.titulo {

    justify-content: center;
    font-family: "zuume-cut-regular";
    font-size: 37px;
}

.descricao p {
    margin-left: 100px;
}

.img_h {
    margin-right: 90px;
}

.descricao h2 {
    text-decoration-line: var(--vermelho);
}

.titulo span {
    position: relative;
    display: inline-block;
    padding-bottom: 8px;
    /* espaço entre o texto e a linha */
}

.titulo span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 173px;
    /* tamanho da linha */
    height: 3px;
    /* espessura */
    background-color: var(--marsala);
    /* cor da linha */
    border-radius: 2px;
}