@font-face {
  font-family: "zuume-cut-regular";
  src: url("./FONT/zuume-cut-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "zuume-cut-light";
  src: url("./FONT/zuume-cut-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --vermelho: #DB222A;
    --marsala: #A31621;
    --preto: #000;
    --cinza: #798086;
    --branco: #F5F5F5;

}

.espacoLateral {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

/* -------- Menu ------- */
header {
    height: 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 195px;
}

.menu {
    max-width: 700px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.menu a {
    font-size: 25px;
    color: var(--preto);
    text-decoration: none;
    /* text-transform: uppercase; */
    font-family:"zuume-cut-regular";
}

.menu a:hover {
    color: var(--marsala);
}

/* -------- Menu Hamburguer ------- */
#iconeBarras,
#iconeX,
#menuBotao {
    display: none;
}






/* ---------- Reponsividade ---------------- */
@media screen and (max-width: 768px) {
    #sombra {
        background-color: var(--cinza);
        backdrop-filter: blur(45px);
        z-index: 1;
        position: fixed;
        width: 100vw;
        height: 100vh;
        right: -101vw;
        transition: .5s;
    }

    #menuBotao {
        display: block;
        z-index: 1;
    }

    header {
        position: relative;
    }

    header button {
        width: 50px;

        background: none;
        border: none;

        display: unset;
        cursor: pointer;
    }

    header svg {
        fill: var(--preto);
    }

    #iconeBarras {
        display: block;
    }

    nav.menu {
        width: 200px;
        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;
        gap: 15px;

        position: fixed;
        top: 165px;
        right: -210px;
        z-index: 1;
        transition: .5s;
    }

    .menu a {
        color: var(--preto);
    }
}